* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "Europa";
  font-weight: normal;
  src: url("../fonts/europa-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Europa bold";
  src: url("../fonts/europa-bold-webfont.woff2") format("woff2");
}

body {
  font-family: "Europa";
  min-height: 100vh;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.app {
  height: 100%;
}

.grid {
  padding: 20px 26px;
  width: 550px;
  height: fit-content;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 254, 254);
  border-radius: 16px;
  box-shadow: 3px 3px 35px rgba(0, 0, 0, 0.5);
  // filter: blur(3px);

  > div {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  &__area {
    height: 80%;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 3px 3px 35px rgba(0, 0, 0, 0.15);

    > div {
      padding: 10px;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(16, 26px);
      gap: 4px;
    }
  }

  &__row {
    > div {
      width: 100%;
      display: grid;
      gap: 4px;

      // grid-template-rows: 26px 26px 26px 26px 26px 26px 26px 26px;
    }
  }

  &__row:first-child {
    .grid__cell:first-child {
      border-radius: 6px 2px 2px 2px;
    }
    .grid__cell:last-child {
      border-radius: 2px 6px 2px 2px;
    }
  }
  &__row:last-child {
    .grid__cell:first-child {
      border-radius: 2px 2px 2px 6px;
    }
    .grid__cell:last-child {
      border-radius: 2px 2px 6px 2px;
    }
  }

  &__cell {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: rgba(232, 241, 255, 1);
    font-size: 0.7rem;
  }

  .selected {
    background-color: rgba(61, 123, 217, 1);
    color: white;
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    p {
      margin-bottom: 0;
      color: rgba(0, 0, 0, 0.5);
    }

    .value {
      color: rgb(0, 0, 0);
    }
  }

  h1 {
    font-family: "Europa bold";
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }
}
